asdf
asdf-astropy
asdf_coordinates_schemas
asdf_standard
asdf_transform_schemas
asdf_wcs_schemas
astro-datalab
astropy
astropy-iers-data
astroquery
attrs
backports.tarfile
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
contourpy
cryptography
cycler
feedparser
fonttools
gwcs
html5lib
httplib2
idna
importlib_metadata
jaraco.classes
jaraco.context
jaraco.functools
jeepney
jmespath
joblib
keyring
kiwisolver
matplotlib
more-itertools
ndcube
numpy
packaging
pandas
pillow
pycparser
pycurl
pycurl-requests
pyerfa
pyparsing
python-dateutil
pytz
pyvo
PyYAML
requests
scikit-learn
scipy
SecretStorage
semantic-version
sgmllib3k
six
soupsieve
specutils
tensorflow
threadpoolctl
typing_extensions
tzdata
urllib3
webencodings
zipp
pytest
